/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#header {
    width: 100%;
    height: 32px;
    padding-top: 10px;
    vertical-align: top;
    Background-color: #7cc4d1;
}

#header #helpNav{
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: x-small;
}

#header #helpNav li {
    display: inline;
    margin-left: 10px;
}

#header #helpNav li a{
    color: #557184;
}

#header #helpNav li a:hover{
    Background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

#footer{
    border-radius: 3px;
    Background-color: #7cc4d1;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    padding: 15px 20px;
}